html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
}

/* ここから */
header {
  height:50px;
  width: 100%;
  background-color: #2B2B2B;
  display: table;
  position: fixed;
}

.left_container{
  float: left;
}

.right_container{
  float:right;
}

header ul{
}


header ul a {
  text-decoration: none;
  color:white;
}

header li {
  float: left;
  width: auto;
  display: table-cell;
  padding: 15px;
  list-style: none;
  vertical-align: middle;
}

header li:hover{
  text-decoration: underline;
  opacity: 0.5
}

header ul:after {
  content: " ";
  display: block;
  clear: both;
}
/* ここまでがheader部分の実装 */

.main-header img {
  width: : 13%;
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
}

.main-header div{
padding-top: 15%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.about {
  font-size: 1.5rem;
/* About Achieve部分の実装 */
}

.about p{
  font-size: 0.8rem;
}

/* ここから */
.function {
  background-color: #D3D3D3;
  padding-bottom: 100px;
}

.function-images {
  display: flex;
  justify-content: center;
}

.function-image {
  padding: 10px;
}
/* ここまでがfunction部分の実装 */

footer {
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #283A4B;
/* footer部分の実装 */
}

footer p{
  font-size: 0.8rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}
